body{
    background-color: rgb(103, 99, 83);
    font-size: 8pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
#aboutMe{
    color: rgb(155, 185, 241);
    font-size: 25pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.mainPoint{
   color: rgb(155, 185, 241);
   font-size: 15pt;
   font-family: cursive;
}
.mainPoint::first-letter
{
    font-size: 3rem;
    float: left;
    line-height: 1;
}
a, dl dt{
    color: yellow;
    text-decoration: none !important;
}
a:link{
    color: red;
    text-decoration: none !important;
}
a:visited {
     color: #00FF00; 
     text-decoration: none !important;
    }
a:hover { 
    color: #FF00FF; 
    text-decoration: none !important;
}
a:active { 
    color: #0000FF; 
    text-decoration: none !important;
}


.italic{
    font-style: italic;
}
.image{
    height: 200px;
}

ol {
    display: flex;
    flex-direction: column-reverse;
}
